In [1]:
# Dataset: mtcars.csv
# Location: https://mitu.co.in/dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('mtcars.csv')

In [4]:
df.shape

(32, 11)

In [5]:
df.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [6]:
# Seperate the input and output variables
x = df[['disp','hp','wt']]
y = df['mpg']

In [7]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x, y)

LinearRegression()

In [8]:
reg.score(x, y)

0.8268361424946445

### Recursive feature elimination

In [12]:
from sklearn.feature_selection import RFE

In [23]:
rfe = RFE(reg)

In [24]:
x = df.drop('mpg', axis = 1)

In [25]:
x.columns

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [26]:
rfe.fit(x, y)

RFE(estimator=LinearRegression())

In [27]:
rfe.get_support()

array([False, False, False,  True,  True,  True, False,  True, False,
        True])

In [28]:
x = x.iloc[:,rfe.get_support()]

In [29]:
x.head()

   drat     wt   qsec  am  carb
0  3.90  2.620  16.46   1     4
1  3.90  2.875  17.02   1     4
2  3.85  2.320  18.61   1     1
3  3.08  3.215  19.44   0     1
4  3.15  3.440  17.02   0     2

In [30]:
reg.fit(x, y)

LinearRegression()

In [31]:
reg.score(x,y)

0.860794511117408

### Forward / Backward feature selection

In [33]:
from sklearn.feature_selection import SequentialFeatureSelector

In [49]:
sfs = SequentialFeatureSelector(reg, direction='backward')

In [50]:
x = df.drop('mpg', axis = 1)

In [51]:
sfs.fit(x, y)

SequentialFeatureSelector(direction='backward', estimator=LinearRegression())

In [52]:
sfs.get_support()

array([ True,  True,  True, False,  True,  True, False, False, False,
       False])

In [53]:
x = x.iloc[:,sfs.get_support()]
x.head()

   cyl   disp   hp     wt   qsec
0    6  160.0  110  2.620  16.46
1    6  160.0  110  2.875  17.02
2    4  108.0   93  2.320  18.61
3    6  258.0  110  3.215  19.44
4    8  360.0  175  3.440  17.02

In [54]:
reg.fit(x, y)
reg.score(x, y)

0.8501969128547608