In [1]:
# Filter based Feature Selection
# Dataset: satandar.csv
# Location: https://mitu.co.in/dataset

### Univariate method

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('/home/mitu/programs/ml/fs/satandar.csv',
                nrows = 40000)

In [7]:
df.shape

(40000, 371)

In [8]:
df.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

### Import the class

In [10]:
from sklearn.feature_selection import VarianceThreshold

In [17]:
vt = VarianceThreshold(threshold=1.0)

In [18]:
vt.fit(df)

VarianceThreshold(threshold=1.0)

In [19]:
newdf = df.iloc[:,vt.get_support()]

In [20]:
newdf.shape

(40000, 173)

### Multivatiate Feature Selection

##### Duplicate Feature Removal

In [22]:
df.shape

(40000, 371)

In [23]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
39995    False
39996    False
39997    False
39998    False
39999    False
Length: 40000, dtype: bool

In [24]:
df_t = df.T

In [25]:
df_t.shape

(371, 40000)

In [26]:
df_t

,0,1,2,3,4,5,6,7,8,9,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
ID,1.00,3.00,4.00,8.00,10.000000,13.00,14.00,18.00,20.00,23.00,...,80020.000000,80025.00,80028.00,80029.00,80032.00,80034.00,80040.00,80041.00,80042.00,80045.00
var3,2.00,2.00,2.00,2.00,2.000000,2.00,2.00,2.00,2.00,2.00,...,2.000000,2.00,2.00,2.00,2.00,2.00,2.00,6.00,2.00,2.00
var15,23.00,34.00,23.00,37.00,39.000000,23.00,27.00,26.00,45.00,25.00,...,33.000000,23.00,40.00,24.00,23.00,23.00,44.00,32.00,37.00,24.00
imp_ent_var16_ult1,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
imp_op_var39_comer_ult1,0.00,0.00,0.00,195.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,262.50,0.00,0.00,893.70,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace3,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
saldo_medio_var44_ult1,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
saldo_medio_var44_ult3,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
var38,39205.17,49278.03,67333.77,64007.97,117310.979016,87975.75,94956.66,251638.95,101962.02,356463.06,...,117310.979016,156128.04,162291.69,55900.74,94626.15,122652.48,60683.61,45665.58,46276.14,81858.66
TARGET,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [28]:
sum(df_t.duplicated())

79

In [29]:
df_t.drop_duplicates(inplace=True)

In [30]:
df_t.shape

(292, 40000)

In [31]:
df = df_t.T

In [32]:
df.shape

(40000, 292)

##### Correlated feature removal

In [35]:
# Dataset: paribas.csv

In [40]:
df = pd.read_csv('/home/mitu/programs/ml/fs/paribas.csv',
                nrows=20000)

In [41]:
df.shape

(20000, 133)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Columns: 133 entries, ID to v131
dtypes: float64(108), int64(6), object(19)
memory usage: 20.3+ MB

In [43]:
cols = ['int64','float64']

In [44]:
numerical_columns = list(df.select_dtypes(include=cols).columns)

In [47]:
df = df[numerical_columns]

In [49]:
df.shape

(20000, 114)

In [50]:
correlated_features = set()
correlation_matrix = df.corr()

In [51]:
correlation_matrix

,ID,target,v1,v2,v4,v5,v6,v7,v8,v9,...,v121,v122,v123,v124,v126,v127,v128,v129,v130,v131
ID,1.000000,0.005830,0.004817,0.001134,-0.003499,0.002015,-0.010675,-0.002102,-0.002202,0.000506,...,0.017562,-0.001780,0.007956,0.001076,-0.003765,0.002461,0.001904,-0.004063,0.010092,-0.003948
target,0.005830,1.000000,-0.016746,0.042634,0.054891,0.009453,0.043471,0.034896,-0.024256,-0.003468,...,-0.047881,0.011872,-0.054317,-0.025463,0.008131,0.009637,0.025992,0.147257,-0.049180,0.022224
v1,0.004817,-0.016746,1.000000,-0.205826,-0.145037,-0.049337,-0.020251,0.089950,0.160309,-0.035394,...,0.340779,-0.137999,0.292999,0.164169,0.025936,-0.018762,-0.010806,-0.015788,0.253119,0.709122
v2,0.001134,0.042634,-0.205826,1.000000,0.542216,0.195646,0.025525,0.351704,-0.367639,-0.012757,...,-0.571877,0.169172,-0.592534,-0.261420,-0.111644,0.011387,0.259107,0.074142,-0.576703,0.183870
v4,-0.003499,0.054891,-0.145037,0.542216,1.000000,0.251530,0.387779,0.483067,-0.179696,-0.191921,...,-0.618385,0.058058,-0.711291,-0.063270,-0.130919,0.299857,0.487635,0.109600,-0.702047,0.304914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
v127,0.002461,0.009637,-0.018762,0.011387,0.299857,-0.224641,0.169701,0.247932,-0.015149,0.123628,...,0.017564,0.094302,-0.162525,-0.050666,-0.079944,1.000000,-0.161000,-0.001564,-0.244848,0.054744
v128,0.001904,0.025992,-0.010806,0.259107,0.487635,0.600132,0.240302,0.088061,0.019486,-0.268033,...,-0.372598,-0.043031,-0.256838,0.279839,-0.154822,-0.161000,1.000000,0.059893,-0.287794,0.243623
v129,-0.004063,0.147257,-0.015788,0.074142,0.109600,0.045623,0.050278,0.041350,-0.019332,-0.035212,...,-0.090282,0.005121,-0.101049,-0.009529,-0.024423,-0.001564,0.059893,1.000000,-0.082056,0.045038
v130,0.010092,-0.049180,0.253119,-0.576703,-0.702047,-0.240718,-0.304129,-0.625145,0.323090,0.084667,...,0.809328,-0.190182,0.727563,0.227784,0.080568,-0.244848,-0.287794,-0.082056,1.000000,-0.264040
v131,-0.003948,0.022224,0.709122,0.183870,0.304914,0.153459,0.153066,0.321801,-0.036547,-0.158470,...,-0.249248,-0.015075,-0.179715,0.030289,-0.030868,0.054744,0.243623,0.045038,-0.264040,1.000000

In [55]:
# Column name will correlation > 80%
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.8:
            colname = correlation_matrix.columns[i]
            correlated_features.add(colname)

In [56]:
len(correlated_features)

55

In [58]:
df.drop(correlated_features, axis=1, inplace=True)

In [59]:
df.shape

(20000, 59)