In [1]:
x = [5,6,4,7,1,8]
type(x)

list

In [2]:
x = (5,6,4,7,1,8)
type(x)

tuple

In [3]:
x = {5,6,4,7,1,8}
type(x)

set

In [4]:
x = {5:6,4:7,1:8}
type(x)

dict

In [5]:
# List

In [6]:
num = [56,12,34,28,72,36,12,38,42]

In [7]:
type(num)

list

In [8]:
num[4]  # indexing

72

In [9]:
val = [67, 34.23, True,'Hello',25]

In [10]:
type(val)

list

In [11]:
val[3]

'Hello'

In [12]:
num[-4]

36

In [13]:
num

[56, 12, 34, 28, 72, 36, 12, 38, 42]

In [14]:
# lists are mutable
num[2] = 28

In [15]:
num

[56, 12, 28, 28, 72, 36, 12, 38, 42]

In [17]:
# slicing
x = num[3:8]

In [18]:
x

[28, 72, 36, 12, 38]

In [19]:
num[3:]

[28, 72, 36, 12, 38, 42]

In [20]:
num[:6]

[56, 12, 28, 28, 72, 36]

In [21]:
num[:]

[56, 12, 28, 28, 72, 36, 12, 38, 42]

In [22]:
num[3:6]

[28, 72, 36]

In [23]:
num[3:6] = [48, 21, 30]
num

[56, 12, 28, 48, 21, 30, 12, 38, 42]

In [24]:
# in operator
30 in num

True

In [26]:
46 in num

False

In [27]:
46 not in num

True

In [28]:
# remove the elements
del num[5]

In [29]:
num

[56, 12, 28, 48, 21, 12, 38, 42]

In [30]:
# Arithmetic operations
num * 2

[56, 12, 28, 48, 21, 12, 38, 42, 56, 12, 28, 48, 21, 12, 38, 42]

In [31]:
num + [67,92]

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92]

In [32]:
num

[56, 12, 28, 48, 21, 12, 38, 42]

In [33]:
num += [67,92]

In [34]:
num

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92]

In [38]:
# Iterations using for loop
for n in num:
    if n % 2 == 1:
        print(n, end=' ')

21 67

In [42]:
# List comprehension - map
new = [n/2 for n in num ]

In [43]:
new

[28.0, 6.0, 14.0, 24.0, 10.5, 6.0, 19.0, 21.0, 33.5, 46.0]

In [44]:
new = [n*n for n in num ]

In [45]:
new

[3136, 144, 784, 2304, 441, 144, 1444, 1764, 4489, 8464]

In [49]:
# List comprehension - filter
new = [n for n in num if n > 40]
new

[56, 48, 42, 67, 92]

In [51]:
new = [n for n in num if n % 2]
new

[21, 67]

In [52]:
num

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92]

In [54]:
# Filter the numbers whose last digit is not 2
new = [n for n in num if n % 10 != 2]
new

[56, 28, 48, 21, 38, 67]

In [55]:
# Empty list
e = []

In [56]:
type(e)

list

In [58]:
e += [10]

In [59]:
e

[10]

In [60]:
# List of list
t = [56,2,[43,12],78]

In [61]:
t[2]

[43, 12]

In [62]:
t[2][1]

12

In [63]:
# Assign list elements to variables
t = [34,67,11]

In [64]:
x,y,z = t

In [65]:
x

34

In [66]:
z

11

In [68]:
# Functions on list
sum(range(1,11))

55

In [69]:
sum(num)

416

In [70]:
max(num)

92

In [71]:
min(num)

12

In [72]:
sorted(num)

[12, 12, 21, 28, 38, 42, 48, 56, 67, 92]

In [73]:
sorted(num, reverse=True)

[92, 67, 56, 48, 42, 38, 28, 21, 12, 12]

In [74]:
name = 'Tushar'
list(name)

['T', 'u', 's', 'h', 'a', 'r']

In [75]:
# Methods

In [76]:
num

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92]

In [77]:
num.append(45)
num

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92, 45]

In [78]:
x = [23,34,45]
y = [23,34,45]

In [79]:
x.append([56,67])
y.extend([56,67])

In [80]:
x

[23, 34, 45, [56, 67]]

In [81]:
y

[23, 34, 45, 56, 67]

In [89]:
x = [23,34,45]
y = x.copy()

In [90]:
x.append(56)

In [91]:
x

[23, 34, 45, 56]

In [92]:
y

[23, 34, 45]

In [86]:
del y[2]

In [87]:
x

[23, 34, 56]

In [88]:
y.copy()

[23, 34, 56]

In [93]:
# insert
num

[56, 12, 28, 48, 21, 12, 38, 42, 67, 92, 45]

In [94]:
num.insert(3, 61)

In [95]:
num

[56, 12, 28, 61, 48, 21, 12, 38, 42, 67, 92, 45]

In [96]:
# remove
num.remove(21)

In [97]:
num

[56, 12, 28, 61, 48, 12, 38, 42, 67, 92, 45]

In [98]:
# pop
x = num.pop(3)

In [99]:
x

61

In [100]:
num

[56, 12, 28, 48, 12, 38, 42, 67, 92, 45]

In [101]:
# index
num.index(48)

3

In [102]:
# count
num.count(12)

2

In [103]:
# reverse
num.reverse()

In [104]:
num

[45, 92, 67, 42, 38, 12, 48, 28, 12, 56]

In [105]:
# sort
num.sort()

In [106]:
num

[12, 12, 28, 38, 42, 45, 48, 56, 67, 92]

In [107]:
num.sort(reverse=True)

In [108]:
num

[92, 67, 56, 48, 45, 42, 38, 28, 12, 12]

In [109]:
# clear
num.clear()

In [110]:
num

[]

In [111]:
# Excercise
# This is a list of some metallic elements.
# metals = [ 'silver','gold', ... ]
# Make a new list that is almost identical to the
# metals list: the new contains the same items, in
# the same order, except that it does NOT contain
# the item 'copper'.

In [119]:
metals = ['silver','copper','aluminium','gold','copper','gold', 
          'copper','silver','aluminium','copper','copper','silver']

In [120]:
new_metals = []
for metal in metals:
    if metal != 'copper':
        new_metals.append(metal)

print(new_metals)

['silver', 'aluminium', 'gold', 'gold', 'silver', 'aluminium', 'silver']

In [121]:
# Given the list of ten elements. Sort only higher
# order 50% list and print it.
# Ex. Before: [5, 6, 2, 8, 9, 1, 3, 7, 4, 0]
# After: [5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

In [122]:
num = [5, 6, 2, 8, 9, 1, 3, 7, 4, 0]

In [123]:
x = num[:5]
y = num[5:]

In [124]:
y.sort()

In [125]:
num = x + y
print(num)

[5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

In [126]:
# Read the array from user
num = []
count = int(input('How many elements: '))
for n in range(count):
    x = int(input('Enter a number: '))
    num.append(x)

print('List:', num)

How many elements: 5
Enter a number: 67
Enter a number: 80
Enter a number: 23
Enter a number: 56
Enter a number: 71

In [128]:
len(num)

5

In [129]:
# Tuple
num = (67,12,3,48,92,63,39)

In [130]:
type(num)

tuple

In [131]:
num[4]

92

In [132]:
num[-3]

92

In [133]:
num[2] = 45

TypeError: 'tuple' object does not support item assignment

In [134]:
t = 78, 23, 18, 34 ,90

In [135]:
t

(78, 23, 18, 34, 90)

In [136]:
len(num)

7

In [137]:
sorted(num)

[3, 12, 39, 48, 63, 67, 92]

In [138]:
max(num)

92

In [139]:
x = [5,2,1,3,7,8]

In [140]:
y = tuple(x)

In [141]:
y

(5, 2, 1, 3, 7, 8)

In [142]:
num

(67, 12, 3, 48, 92, 63, 39)

In [143]:
num = num + (23,56)

In [144]:
num

(67, 12, 3, 48, 92, 63, 39, 23, 56)

In [145]:
num.index(39)

6

In [146]:
num.count(48)

1

In [147]:
num.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [148]:
num

(67, 12, 3, 48, 92, 63, 39, 23, 56)

In [149]:
39 in num

True

In [151]:
for n in num:
    print(n, end = ' ')

67 12 3 48 92 63 39 23 56

In [152]:
t = (67, (12, 45), 72, ['Hello',12], 34)

In [153]:
t

(67, (12, 45), 72, ['Hello', 12], 34)

In [154]:
# Dictionary

In [155]:
num = {3:14, 5:18, 6:26, 9:19, 13: 26}

In [156]:
type(num)

dict

In [157]:
num[6]

26

In [158]:
num[7]

KeyError: 7

In [159]:
num

{3: 14, 5: 18, 6: 26, 9: 19, 13: 26}

In [160]:
num[10] = 'hello'
num

{3: 14, 5: 18, 6: 26, 9: 19, 13: 26, 10: 'hello'}

In [161]:
num[6] = 'world'
num

{3: 14, 5: 18, 6: 'world', 9: 19, 13: 26, 10: 'hello'}

In [162]:
num['a'] = 'apple'
num

{3: 14, 5: 18, 6: 'world', 9: 19, 13: 26, 10: 'hello', 'a': 'apple'}

In [163]:
list(num.values())

[14, 18, 'world', 19, 26, 'hello', 'apple']

In [164]:
list(num.keys())

[3, 5, 6, 9, 13, 10, 'a']

In [165]:
list(num.items())

[(3, 14),
 (5, 18),
 (6, 'world'),
 (9, 19),
 (13, 26),
 (10, 'hello'),
 ('a', 'apple')]

In [166]:
x = {}
type(x)

dict

In [167]:
# set
num = {6,2,3,4,3,5,6,3,6,6,6,7,4,2}

In [168]:
type(num)

set

In [169]:
num

{2, 3, 4, 5, 6, 7}

In [170]:
num.add(5)

In [171]:
num

{2, 3, 4, 5, 6, 7}

In [172]:
num.add(9)
num

{2, 3, 4, 5, 6, 7, 9}

In [175]:
gender = ['f','f','m','f','o','f','m','m','f','m','f']

In [176]:
set(gender)

{'f', 'm', 'o'}

In [177]:
gender

['f', 'f', 'm', 'f', 'o', 'f', 'm', 'm', 'f', 'm', 'f']